@charset "UTF-8";

/* kleur codes
Donkerpaars: #210658;
Achtergrond beige: #FFFAF2;
Paars: #84529C;
Lichtblauw: #B1CAE8;
*/

/* fonts 
font-family: 'Open Sans', sans-serif;
*/

html {
    font-size: 100%;
}

body {
    background-color: white;
    /*background-color: #eae8ff;*/
    color: #2d116d;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    padding: 0 0.2rem;
}

/*header achtergrond*/
.image-container {
    background-color: #2f1886;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 6%;
    position: relative;
}

b {
    color: #84529C;
}

a:hover {
    text-decoration: none;
}

/* Begin */

.background-image {
    background-image: url("../images/grey.png");
}

#programmeur_in_dop {
    font-family: 'Frutiger', sans-serif;
    color: #2d116d;
    padding-left: 20%;
    padding-top: 2%;
    text-align: left;
}

#onderzin {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

#omschrijving {
    text-align: left;
    padding-bottom: 2%;
}

#over {
     border-bottom: 3px solid #84529C;
}

/* Testimonials */
.carousel-indicators li {
    background-color: #B1CAE8;
}

.carousel-indicators .active {
    background-color: #2f1886;
}

#testimonials .carousel-indicators {
    top: 0;
    margin-right: 0;
    margin-left: 0;
}

.carousel-inner {
    padding-top: 5%;
}

#testimonials {
    padding-top: 5%;
    padding-bottom: 5%;
}

#testimonials img {
    margin: 2% 0 2% 0;
}

.testimonial-titel {
    padding-top: 5%;
}

/* Programma's */
#programma .tab-content {
    background-color: #B1CAE8;
    padding-bottom: 2.5rem;
}

#programma h1 {
    color: #84529C;
    padding-top: 2%;
    background-color: white;
    text-align: center;
}

#programma h3 {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 2% 0;
}

#programma p {
    color: black;
}

#programma .tab-pane h3:first-child {
    padding-top: 2rem;
}

#programma .tab-pane h3:last-child {
    padding: 1rem;
    font-size: 2rem;
    border: 3px solid white;
    text-align: center;
    margin: auto;
}

#programma .tab-pane h3:last-child:hover {
    color: #B1CAE8;
    background-color: white;
    border: 3px solid white;
}

/*Feiten en Cijfers*/
#cijfers p {
    font-size: 70%;
}

#cijfers .container {
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
}

#cijfers a {
    color: #2d116d;
    text-decoration: none;
}

#cijfers h1 {
    padding-top: 4%;
}

.card {
    border-color: #84529C;
}

.card h1 {
    padding-top: 3%;
}

.card {
    margin: 2%;
}

#cijfers {
    border-bottom: 3px dotted #84529C;
}

/* Wat, waar en hoe laat */
#info h1 {
    color: #2f1886;
    text-align: center;
    padding: 1.5rem;
}

#info b:first-child {
    color: #84529C;
    font-size: 1.1rem;
}

#info ul li {
    display: inline-block;
}

#info ul li p {
    font-size: 1rem;
}

#info ul {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

#info h3 {
    margin-top: 8%;
}

/* Team */
#team div {
    border: 0;
}

#team h1 {
    margin: 30px 0 0 0;
    background-color: #B1CAE8;
    color: white;
}

#team h3 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: #B1CAE8;
    padding-bottom: 40px;
    margin-bottom: 60px;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-team {
    margin: auto;
}

.round-img {
    width: 200px;
    margin: 1rem;
    border-radius: 50%;
    -webkit-box-shadow: 4px 6px 41px -10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 4px 6px 41px -10px rgba(0, 0, 0, 0.63);
    box-shadow: 4px 6px 41px -10px rgba(0, 0, 0, 0.63);
}

/* sponsers */

#sponsers p {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: black;
    padding: 5%;
    margin: 0;
}

#sponsers ul li {
    display: inline-block;
}

#sponsers ul {
    display: block;
    text-align: center;
}

#sponsers img {
    width: 300px;
    padding: 5%;
}

#sponsers h1 {
    text-align: center;
    color: #84529C;
    font-weight: bold;
}