<footer>
    <h3>Vragen over de avonden en/of de programma’s? Mail naar:</h3>
    <div><a href="mailto:contact@techteach.info">contact@techteach.info</a>
    </div>
    <div>
        <ul>
            <li class="social"><a href="https://www.facebook.com/techteachdeventer"><img
                    src="images/social/Facebook_Icon.svg" class="hvr-bob"
                    alt="Facebook TechTeach"></a></li>
            <li class="social"><a href="https://www.instagram.com/techteachdeventer/"><img
                    src="images/social/Instagram_icon.svg" class="hvr-bob" alt="Instagram TechTeach"></a></li>
            <li class="social"><a href="https://www.linkedin.com/company/25079337/"><img
                    src="images/social/Linkedin_icon.svg" class="hvr-bob" alt="Linkein TechTeach"></a></li>
            <li class="social"><a href="mailto:contact@techteach.info"><img src="images/social/Email_icon-white.svg"
                                                                            class="hvr-bob" alt="Email TechTeach"></a>
            </li>
        </ul>
    </div>
    <small>Webdesign en illustraties: <a href="http://yellibeanz.nl/"> www.yellibeanz.nl</a></small>
</footer>