{{ define "main" }}
<header>
    <div class="image-container" id="code_breed">
        <img src="images/compleet.png" id="code_breed_img">
    </div>
</header>

<section id="over"><h1 id="programmeur_in_dop">Ben jij een programmeur in de dop?</h1>
    <h4 id="onderzin">Lijkt het je leuk om apps of websites te bouwen maar mis je de vaardigheden?</h4><br>
    <div id="omschrijving">{{ .Content }}</div>
</section>

<img src="#" alt="">
<section id="programma">
    <!--Onze Programma's-->
    <h1>Onze programma's</h1>
    <div>
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item active">
                <a data-toggle="tab" class="nav-link hvr-underline-from-center" href="#tab1">Backend web development</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link hvr-underline-from-center" href="#tab2">Frontend web development</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link hvr-underline-from-center" href="#tab3">Android app development</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h3>Backend web development</h3>
                <div>
                    <p>In dit programma leer je het bouwen van de logica die achter een website leeft. Denk
                    bijvoorbeeld aan het boeken van een vlucht; de gebruiker klikt op een website op ‘boeken’ en de
                    backend gaat vervolgens aan de slag om de boeking door te voeren, op te slaan en bevestigingen te
                    versturen, bijvoorbeeld per email.</p>

                    <p>Als backend ontwikkelaar bouw je de logica om alle binnenkomende gegevens van gebruiker te
                        valideren, opslaan in structuren en uit te lezen. Tevens gebruik je vaak externe systemen om
                        bijvoorbeeld email of notificaties te kunnen versturen.</p>

                    <p>In dit programma leer je de basis van de programmeertaal Java. Vervolgens ga je een web backend
                        ontwikkelen die kan reageren op verschillende verzoeken vanuit het web. De backend zal data gaan
                        lezen en schrijven in een opslag systeem; een database genaamd PostgreSQL.</p>

                    <div class="start_programma"><a href="pages/backend/backend.html"><h3>Start programma</h3></a></div>
                    <img src="images/tabs/Techteachbackend-01.png" alt="backend">

                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <h3>Frontend web development</h3>
                <div>
                    <p>In dit programma leer je websites ontwikkelen volgens de laatste standaarden en trends op het
                    gebied van web development.</p>

                    <p>Een frontend ontwikkelaar vormt de verbinding tussen de grafisch ontwerper, die het ontwerp voor
                        de website maakt, en de backend ontwikkelaar, die de logica inbouwt om de acties van gebruikers
                        op je website af te handelen. Vandaag de dag is de rol van een frontend ontwikkelaar veelzijdig
                        en creatief door alle verschillende apparaten waarmee gebruikers je applicatie bezoeken, zoals
                        smartphones, tablets en ‘gewone’ browsers.</p>

                    <p>In dit programma leer je HTML, CSS en Javascript. HTML bevat de basis bouwstenen voor een
                        website, met CSS kun je HTML meer opmaak geven en JavaScript dient voor het interactief maken
                        van je pagina, dynamisch inladen van nieuwe informatie en snel visuele feedback kunnen geven aan
                        je gebruikers.</p>

                    <div class="start_programma"><a href="pages/frontend/frontend.html"><h3>Start programma</h3></a></div>
                    <img src="images/tabs/Techteachfrontend-01.png" alt="Front-end">

                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <h3>Android app development</h3>
                <div>
                    <p>Smartphone apps zijn tegenwoordig erg populair en veel bedrijven hebben hun eigen app voor
                    klanten en/of medewerkers. Daarom leer je in dit programma hoe je een app bouwt voor Android
                    telefoons.</p>

                    <p>Als Android app ontwikkelaar werk je voornamelijk met de programmeertaal Java. Je zal naast Java
                        verschillende onderdelen van de Android Software Development Kit (Android SDK) gaan gebruiken om
                        verschillende onderdelen van een telefoon te kunnen gebruiken. Voor een app maak je zowel de
                        interface, datgene wat je kunt zien van een app, als de achterliggende logica.</p>

                    <p>In dit programma leer je de basis van Java en de Android SDK. We zullen gebruik maken van een
                        echte Android telefoon of eventueel de simulator om de app te bouwen en uit te proberen.</p>

                    <div class="start_programma"><a href="pages/android/android.html"><h3>Start programma</h3></a></div>
                    <img src="images/tabs/Techteach-android-01.png" alt="android">

                </div>
            </div>
        </div>
    </div>
</section>
<!--Wanneer, Waar en Hoe laat? -->
<section id="info">
    <div><h1>Wanneer, waar en hoe laat?</h1></div>
    <div>
        <p>
            Wil je vrijblijvend een TechTeach avond bijwonen? Check onderstaande data en kom leren programmeren. Het enige wat je hoeft mee te brengen is je laptop. Laat je
            inspireren door onze TechTeachers en ontdek jouw verborgen talenten.</p>
        <p>Aanmelden kan via onze facebookpagina maar is niet verplicht. En als je er dan toch bent: like onze pagina en
            blijf op de hoogte van TechTeach nieuwtjes!</p>
        <a href="https://www.facebook.com/techteachdeventer">
            <div><h3>Aanmelden</h3></div>
        </a>
    </div>
    <div><h3>Totale datumoverzicht</h3>
        <ul>
            <li><p><b>1 mei</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
            <li><p><b>8 mei</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
            <li><p><b>15 mei</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
            <li><p><b>22 mei</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
            <li><p><b>29 mei</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
            <li><p><b>5 juni</b> <br> <b> Tijd:</b> 19.00 tot 21:30 <br><b>Plaats:</b> T.B.D </p></li>
        </ul>
    </div>
</section>
<!-- Ons Team -->
<section id="team">
    <h1>Ons team</h1>
    <div class="flex-container">
        <div class="flex-team"><img src="images/team/dries.jpg" alt="Dries Schulten">
            <h3>Dries Schulten</h3></div>
        <div class="flex-team"><img src="images/team/fransje.jpg" alt="Fransje Bongenaar">
            <h3>Fransje Bongenaar</h3></div>
        <div class="flex-team"><img src="images/team/yelitza.jpg" alt="Yelitza Jansen">
            <h3>Yelitza Jansen</h3></div>
        <div class="flex-team"><img src="images/team/elena.jpg" alt="Elena Fuentes Bongenaar">
            <h3>Elena Fuentes Bongenaar</h3></div>
        <div class="flex-team"><img src="images/team/myrthe.png" alt="Myrthe Wesseling">
            <h3>Myrthe Wesseling</h3></div>
        <div class="flex-team"><img src="images/team/daan.jpg" alt="Myrthe Wesseling">
            <h3>Daan Ottink</h3></div>
    </div>
</section>
{{ partial "sponsors/main-sponsors.html" . }}
{{ end }}